#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.BurgerConstructor {
  display: flex;
}

.App img {
  width: 70px;
  height: auto;
  cursor: pointer;
}

.Ingredients {
  text-align: left;
  width: 40%;
  margin: 0 50px 0 0;
}

.ingredient {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredientName {
  margin-right: 40px;
}

.TotalPrice {
  margin: 40px 60px 0 0;
}
